{% extends "mainapp/base.html" %}
{% block title %}Easy Growth{% endblock %}
{% block content %}
    <h1>Sensor data</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="get">
        <label for="sensor">choose sensor:</label>
        <select name="sensor" id="sensor">
            {% for sensor_id in sensor_ids %}
                <option value="{{ sensor_id }}" {% if sensor_id == selected_sensor %}selected{% endif %}>
                    {{ sensor_id }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">submit</button>
    </form>
    {% for graph in graphs %}
    
        <h3>{{ graph.label }}</h3>
        
        <canvas id="chart_{{ graph.label }}" width="400" height="200"></canvas>
        <script>
            new Chart(document.getElementById("chart_{{ graph.label }}"), {
                type: 'line',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [{
                        label: '{{ graph.label }}',
                        data: {{ graph.data|safe }},
                        borderWidth: 2,
                        fill: false,
                        tension: 0.3
                    }]
                }
            });
        </script>
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="files">choose one or more files:</label>
    <input type="file" name="files" multiple required><br><br>

    <button type="submit">submit</button>
    </form>
{% endblock %}